# The native XMP tools are i386 by default so we need to enable i386 support
# and install their dependencies with the proper bitness

- block:

  - name: Enable i386 architecture.
    lineinfile:
      dest: /var/lib/dpkg/arch
      line: "i386"
      create: True
    register: i386_arch

  - name: Update apt cache when architecture added.
    apt:
      update_cache: True
    register: _update_cache_result
    until: _update_cache_result is success
    retries: 3
    when: i386_arch.changed

  - name: Install i386 XMPFilesProcessor dependencies
    apt:
      name:
        - "libc6:i386"
        - "uuid-runtime:i386"
      state: present
      update_cache: true
      cache_valid_time: 3600
    register: _debian_xmp_result
    until: _debian_xmp_result is success
    retries: 3
  when: ansible_os_family == "Debian"

- name: Install i386 XMPFilesProcessor dependencies
  yum:
    name:
      - "{{ 'compat-libstdc++-33.i686' if ansible_distribution_major_version == '7' else 'libstdc++' }}"
      - "libuuid.i686"
    state: present
  register: _redhat_xmp_result
  until: _redhat_xmp_result is success
  retries: 3
  when: ansible_os_family == "RedHat"
