# {{ ansible_managed }}

[Unit]
Description={{ aem_cms_service_name }}
After=multi-user.target
Requires=network.target

[Service]
Type=forking
ExecStart={{ aem_cms_home }}/crx-quickstart/bin/start
ExecStop={{ aem_cms_home }}/crx-quickstart/bin/stop --sync
PIDFile={{ aem_cms_home }}/crx-quickstart/conf/cq.pid
User={{ aem_cms_user }}
LimitNOFILE={{ aem_cms_limit_nofile }}

[Install]
WantedBy=multi-user.target