# {{ ansible_managed }}

[Unit]
Description={{ aem_cms_service_name }}
After=multi-user.target
Requires=network.target

[Service]
Type=forking
PIDFile={{ aem_cms_home }}/crx-quickstart/conf/cq.pid

LimitNOFILE={{ aem_cms_limit_nofile }}

User={{ aem_cms_user }}
Group={{ aem_cms_group }}

ExecStart={{ aem_cms_home }}/crx-quickstart/bin/start
ExecStop={{ aem_cms_home }}/crx-quickstart/bin/stop

# Do not kill the process, wait for graceful shutdown until
# timeout is reached.
KillSignal=SIGCONT
# Timeout until kill is send
TimeoutStopSec={{ aem_cms_stop_timeout_seconds }}s

[Install]
WantedBy=multi-user.target
