#!/bin/bash
### BEGIN INIT INFO
# Provides:          {{ aem_cms_service_name }}
# Required-Start:    $local_fs $remote_fs $network $syslog $named
# Required-Stop:     $local_fs $remote_fs $network $syslog $named
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start AEM process
# Description:       Init script for AEM instance {{ aem_cms_service_name }}
### END INIT INFO

# Source function library.
. /lib/lsb/init-functions

SCRIPT_NAME=`basename $0`
AEM_ROOT={{ aem_cms_home }}
AEM_USER={{ aem_cms_user }}
PID_PATH={{ aem_cms_home }}/crx-quickstart/conf/cq.pid
STOP_TIMEOUT_SECONDS={{ aem_cms_stop_timeout_seconds }}


########
BIN=${AEM_ROOT}/crx-quickstart/bin
START=${BIN}/start
STOP=${BIN}/stop-sync.sh
STATUS="${BIN}/status"

aem_start() {
  pidResult=$(pgrep --pidfile $PID_PATH || true);
  if [[ $pidResult != "" ]];
  then
    log_success_msg "$SCRIPT_NAME already started"
  else
    log_daemon_msg "Starting $SCRIPT_NAME"
    su - ${AEM_USER} ${START} > /dev/null
    log_end_msg 0
  fi
}

aem_stop() {
  # execute sync stop script
  su - ${AEM_USER} -c "bash ${STOP}"
}

case "$1" in
  start)
    aem_start
  ;;
  stop)
    aem_stop
   ;;
  status)
    su - ${AEM_USER} ${STATUS}
  ;;
  restart)
    aem_stop
    aem_start
  ;;
  *)
    echo "Usage: $SCRIPT_NAME {start|stop|status|restart}"
  exit 1
  ;;
esac
